<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandPyBot</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="title"><h1>GrandPybot       <span class="alias" >le papi robot</span></h1></div><br>
        <div class="sloggan"><p>Pose ta question géographique à GrandPybot. Il te racontera une histoire sur cet endroit !  </p></div>
    </header>

    <div class="container">
        <div class="chat">
            
            <div class="chat-box">


                <div class="chat-l">
                    <div class="mess">
                        <p>Bonjour mon petit! Pose-moi <br> ta question géographique.</p>
                    </div>
                </div>


                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p>OK. Sais-tu où se trouve l'Arc de <br>Triomphe, s'il te plait ?</p>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <p>Oh. Mais bien sur que je connais. Voilà la localisation précise sur la <br> carte.</p>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <img src="../static/assets/image1.png" class="img_chat" alt="">
                    </div>
                </div>


                <div class="chat-l">
                    <div class="mess">
                        <p>Savais-tu que L’arc de triomphe de l’Étoile, souvent appelé simplement l’Arc de triomphe, dont la construction, décidée par l'empereur Napoléon Ier, débuta en 1806 et s'acheva en 1836 sous Louis-Philippe, est situé à Paris, dans les 8e, 16e, et 17e arrondissements... </p>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <p>Aurais-tu une autre question ? </p>
                    </div>
                </div>


                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        C'est où Bordeaux ?
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <p>Tu peux répéter ta question. Je me fais un peu vieux, tu sais...</p>
                    </div>
                </div>

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p>Hi, Elias. Comment vas tu ?
                        </p>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <p>Oh! hi. Moi je vais bien merci.</p>
                    </div>
                </div>


                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <img src="../static/assets/post2.jpg" class="img_chat" alt="">
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <p>Oh! hi</p>
                    </div>
                </div>

                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <p>Hi, Elias. Comment vas tu ?
                        </p>
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <p>Oh! hi. Moi je vais bien merci.</p>
                    </div>
                </div>


                <div class="chat-r">
                    <div class="sp"></div>
                    <div class="mess mess-r">
                        <img src="../static/assets/post2.jpg" class="img_chat" alt="">
                    </div>
                </div>

                <div class="chat-l">
                    <div class="mess">
                        <p>Oh! hi</p>
                    </div>
                </div>

            </div>
            <div class="chat-footer">
                    <textarea placeholder="Ex: Papibot, tu sais ou se trouve le Mont St-Michel ?"></textarea>
                    <input class="button" type="submit" value="Envoyer">
            </div>


        </div>
    </div>

    <footer>        
        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>.All Rights Reserved</p>
    </footer>

</body>
</html>